* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: grey;
  font-family: sans-serif;
}

.content-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 100px;
  width: 120px;
  margin: 20px;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}
.teal {
  background-color: teal;
}
.purple {
  background-color: purple;
}